<div ng-controller="AccountController as account">

    <label>Project Name</label><div>{{controller.projectName}}</div>
    <label>Project Owner</label><div>{{account.getUserName()}}</div>
    <table>
        <thead><th>Member Email</th></thead>
        <tr ng-repeat="member in controller.teamRoster">            
            <td>{{member.userEmail}}</td>
        </tr>
    </table>
    <br/>
    <input ng-model="controller.teamMemberEmail" class="form-control" placeholder="Enter team member email">
    <button class="btn normal-button" ng-click="controller.addTeamMember()">Add team member</button>
      
</div>








