<div class="btn-toolbar" role="toolbar" style="background-color: ThreeDDarkShadow; position: absolute; width: 100%;">
	<div class="btn-group mr-2" role="group" aria-label="First group">
		<button ng-click="controller.Scroll()" type="button" class="btn">Scroll</button>
		<button ng-click="controller.ToggleDraw()" type="button" class="btn btn-secondary">Draw</button>
	</div>
	<div class="btn-group mr-2" role="group" aria-label="Second group">
	</div>
	<div class="btn-group" role="group" aria-label="Third group">
		<div style="color: white; font-size: large;">{{controller.projectName}} : {{controller.levelName}}</div>
		</div>
</div>

<div id="sideMenu" style="width: 150px; height: 100%; position: absolute; right: 0px; background-color: gainsboro;">
	Select tile type: <br/><br/>	
	<select ng-model="controller.BMPIndex" ng-change="controller.handleBMPSelect()" name="repeatSelect" id="repeatSelect">
			<option ng-repeat="option in controller.tileImages" value="{{option.id}}">{{option.name}}</option>
		</select>
</div>



<!--<button ng-click="controller.Scroll()" style="position:absolute;">Scroll</button>-->
<canvas style="cursor: crosshair;" ng-mousedown="controller.mouseDown($event)" ng-mousemove="controller.mouseMove($event)" ng-mouseup="controller.mouseUp($event)" width="450" height="450" id="theCanvas" />

